version: "3"

services:
  web:
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./app/docker-php-ext-opcache.ini:/usr/local/etc/php/conf.d/docker-php-ext-opcache.ini
      - ./app:/var/www/
      - ./apache-config:/etc/apache2/sites-enabled/
      - ./certbot/conf:/etc/letsencrypt/
      - ./logs:/var/log/apache2/
    build:
      context: .
      dockerfile: ./app/Dockerfile
    depends_on:
      - db
    restart: always
    networks:
      - laravel-shouts

  db:
    image: mariadb:10.3.9
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: ROOT_PASSWORD
      MYSQL_USER: USER
      MYSQL_PASSWORD: PASSWORD
    volumes:
      - ./db:/var/lib/mysql
    restart: always
    networks:
      - laravel-shouts

networks:
  laravel-shouts:
    driver: bridge
